@using Microsoft.AspNetCore.Identity;
@using project_itransition.Models.Entities
@using project_itransition.Resources
@inject SignInManager<ApplicationUser> signInManager;
<ul class="navbar-nav ms-auto">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post"> <button type="submit" class="nav-link btn btn-link">@Resource.Logout</button></form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">@Resource.Login </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">@Resource.Register</a>
        </li>
    }

</ul>